COMPOSE_PROJECT_NAME=sigo-gcam

WEB_PORT=8080
API_PORT=8000
DB_PORT=1433

MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2025-CU5-ubuntu-24.04
MSSQL_PID=Developer
MSSQL_SA_PASSWORD=CAMBIAR_POR_UNA_CLAVE_COMPLEJA
DB_DATABASE=BITSAC
DB_BACKUP_FILE=BITSAC2

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_ALEATORIO_DE_32_BYTES_O_MAS
