PORT=3000

DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=localhost\SQLEXPRESS
DB_DATABASE=BITSAC
DB_ENCRYPT=no
DB_TRUSTED_CONNECTION=Yes
DB_TRUST_SERVER_CERTIFICATE=Yes
DB_CONNECTION_TIMEOUT=15

JWT_SECRET=cambiar_esta_clave_por_una_segura_generada_con_openssl_rand_hex_32
