.dart_tool
build
.flutter-plugins
.flutter-plugins-dependencies
.packages
.git
.gitignore
Dockerfile*
README.md
BITSAC_GLOSARIO.md
dependencias_flutter.txt
flutter_*.png
test
android
ios
linux
macos
windows
